# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Uploaded files / temp downloads
*.zip
drive-download-*
data.xlsx
tutorial.txt