.breadcrumb {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
  }

  .form-container {
    display: flex;
  }
  
  .form-control1 
  {
        width: 300px;
        height: 40px;
        display: flex;
        border: 1px solid #010101;
        padding: 6px 12px;
        flex: 1;
  }
  
  .mb-3 {
    margin-left: 15px;
  }  

  .row {
    background-color: rgb(247 241 234);
  }

  .bor {
    border: 0;
    background-color: rgb(38, 12, 52);
    height: 5.7px;
    margin: 15px;
}
