{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title> {% block title %} APDCL {% endblock title %} </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>

<body>
  <nav class="navbar navbar-expand-lg p-3 shadow-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">
          {% comment %} <img src="static/img/apdcl_logo.png" alt="..." height="40" width="40"> <b>APDCL</b> {% endcomment %}
          <img src="static/img/apdcl_logo.png" alt="..." height="40" width="40">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link"  href="index.html" aria-current="page" target="_self"> Home </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/connections" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Connections
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"></a></li>
              <li><a class="dropdown-item" href="/form">Apply for New Connection</a></li>
            </ul>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
        </ul>
            <div class="collapse navbar-collapse justify-content-end" id="my-navbar">
                <ul class="navbar-nav">
                  {% if request.user.is_authenticated %}
                    {% csrf_token %}
                      <div class="nav-vl"></div>
                      <li class="nav-item">
                          <a class="nav-link" href="/logout">
                              <i class="fas fa-sign-out-alt"></i>Logout
                          </a>
                      </li>
                    {% else %}
                      <div class="nav-vl"></div>
                      <li class="nav-item">
                          <a class="nav-link" href="/login">
                            {% comment %} <img src="static/img/login.png" height="20" width="20"> {% endcomment %}
                            <img src="{% static 'img/login.png' %}" height="20" width="20">
                              <i class="fas fa-sign-in-alt"></i>Login
                          </a>
                      </li>     
                    {% endif %}
                </ul>
            </div>
      </div>
    </div>
  </nav>

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{message.tags}} alert-dismissible fade show my-0" role="alert">
    <strong>{{message}} </strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}

  {% block body %}{% endblock body %}

    <footer>
      <div class="copyright">
        <br />
        <span> <strong><b>   © 2023 Summer internship APDCL, GUIST </b> </strong> </span>
      </div>
    </footer>

    
</body>



<style>
  .copyright {
    font-size: 16px;
    text-align: center;   
    bottom: 0px; 
    width: 100%;
    position: fixed;
  }
.navbar{
  background-color: #E1EBEE;
  position: fixed;
  width: 100%;
  top: 0px;
}
</style>

</html>